/* ------------ Font Imports ------------ */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* ------------ Default Styles ------------ */
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #252525;
  color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  background: #6b6a6a;
  padding: 40px;
}


/* ------------ Header ------------ */
.header {
  display: flex;
  flex-direction: row;
  background: #fff;
  color: #000;
  justify-content: space-between;
}

.header a {
  color: #000;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-right: auto;
}

.header-title {
  margin: 0;
}


/* ------------ Home (Landing) ------------ */
.home-landing-container {
  position: relative;
}

.home-text-container {
  max-width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  font-size: 7em;
  font-weight: 600;
  font-style: italic;
  line-height: 132px;
  letter-spacing: 1px;
}

.home-description {
  font-size: 14px;
  margin-top: 20px;
}

.home-signup-button {
  padding: 15px 30px;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.home-image-overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-bg-image {
  background: url(../images/landing.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
  height: 80vh;
  width: 100vw;
}

/* ------------ User Home ------------ */
.user-home .user-song-image {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* ------------ Single Song ------------ */
.single-song .user-song-image {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* ------------ Single Song ------------ */
.editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-song .user-song-container {
  display: flex;
  flex-wrap: wrap;
  background: #848484;
  flex-direction: column;
}

.single-song .user-section {
  display: flex;
  flex-wrap: wrap;
}

.single-song .user-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.single-song .user-bar-name {
}

.single-song .user-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 10px;
  margin: 5px;
  background: #c1c1c1;
}

.single-song .user-beat {
  background: #efefef;
  width: 100%;
  padding: 0px;
  border: 0px;
}

.single-song .user-section-container {
  display: flex;
  flex-direction: column;
}

.single-song .user-beat-container {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-song button.user-beat-button {
  border: none;
  background: #c12d2d;
  color: #fff;
  padding: 7px 11px;
}